<% title "Moviegeneres" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for moviegenere in @moviegeneres %>
    <tr>
      <td><%=h moviegenere.name %></td>
      <td><%=h moviegenere.description %></td>
      <%= common_links :list, moviegenere %>
    </tr>
  <% end %>
</table>
<%= common_links :main %>