<% title "Moviegenere" %>

<p>
  <strong>Name:</strong>
  <%=h @moviegenere.name %>
</p>
<p>
  <strong>Description:</strong><br/>
  <pre><%=h @moviegenere.description %></pre>
</p>

<%= common_links :section => :show, :object => @moviegenere %>
