<p>
  <b>Name:</b>
  <%=h @gamecategory.name %>
</p>

<p>
  <b>Shortname:</b>
  <%=h @gamecategory.shortname %>
</p>


<%= link_to 'Edit', edit_gamecategory_path(@gamecategory) %> |
<%= link_to 'Back', gamecategories_path %>