<p>
  <b>Name:</b>
  <%=h @containertype.name %>
</p>

<p>
  <b>Shortname:</b>
  <%=h @containertype.shortname %>
</p>


<%= link_to 'Edit', edit_containertype_path(@containertype) %> |
<%= link_to 'Back', containertypes_path %>