<% title "Disctypes" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for disctype in @disctypes %>
    <tr>
      <td><%=h disctype.name %></td>
      <td><%=h disctype.description %></td>
      <%= common_links :section => :list, :object => disctype %>
    </tr>
  <% end %>
</table>
<%= common_links :section => :main, :klass => Disctype %>
