<% title "Disctype" %>

<p>
  <strong>Name:</strong>
  <%=h @disctype.name %>
</p>
<p>
  <strong>Description:</strong>
  <pre><%=h @disctype.description %></pre>
</p>

<%= common_links :section => :show, :object => @disctype %>
