<% title "Contentcategories" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for contentcategory in @contentcategories %>
    <tr>
      <td><%=h contentcategory.name %></td>
      <td><%=h contentcategory.description %></td>
      <%= common_links :list, contentcategory %>
    </tr>
  <% end %>
</table>
<%= common_links :main %>