<% title "Contentcategory" %>

<p>
  <strong>Name:</strong>
  <%=h @contentcategory.name %>
</p>
<p>
  <strong>Description:</strong><br/>
  <pre><%=h @contentcategory.description %></pre>
</p>

<%= common_links :show, @contentcategory %>