<% title "Roles" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for role in @roles %>
    <tr>
      <td><%=h role.name %></td>
      <%= common_links :section => :list, :object => role %>
    </tr>
  <% end %>
</table>

<%= common_links :section => :main, :klass => Role %>

