<% title "Gamegeneres" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for gamegenere in @gamegeneres %>
    <tr>
      <td><%=h gamegenere.name %></td>
      <td><%=h gamegenere.description %></td>
      <%= common_links :list, gamegenere %>
    </tr>
  <% end %>
</table>
<%= common_links :main %>