<% title "Gamegenere" %>

<p>
  <strong>Name:</strong>
  <%=h @gamegenere.name %>
</p>
<p>
  <strong>Description:</strong><br/>
  <pre><%=h @gamegenere.description %></pre>
</p>

<%= common_links :section => :show, :object => @gamegenere %>
