<% title "Contenttypes" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for contenttype in @contenttypes %>
    <tr>
      <td><%=h contenttype.name %></td>
      <td><%=h contenttype.description %></td>
      <%= common_links :list, contenttype %>
    </tr>
  <% end %>
</table>
<%= common_links :main %>