<% title "Contenttype" %>

<p>
  <strong>Name:</strong>
  <%=h @contenttype.name %>
</p>
<p>
  <strong>Description:</strong><br/>
  <pre><%=h @contenttype.description %></pre>
</p>

<%= common_links :show, @contenttype %>